.original-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.original-picture video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cam, .preview {
    position: relative;
}

.preview-img {
    /*display: block;*/
    width: 100%;
    height: auto;
    object-fit: cover;
}

.capture-btn {
    color: #fff;
    border: none;
    font-size: 40px;
    bottom: 2rem;
}

.capture-btn:hover {
  cursor: pointer;
}

.video-player {
    display: block;
}

/*.btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

.back-btn, .download-btn {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.5rem;
}

.download-btn {
    /*margin-left: 25px;*/
}

/* used at btm of screen to go back in workflow */
.back-navigation {
  color: #fff;
}
